flask>=0.0.0
flask-nav>=0.0.0
python-dateutil>=0.0.0
pandas>=0.0.0
matplotlib>=0.0.0
bs4>=0.0.0
flask_wtf>=0.0.0
illuminate>=0.0.0
plotly>=0.0.0
PyVCF>=0.0.0
xlrd>=1.1.0
Flask-SQLAlchemy>=2.2
Flask-Bootstrap>=3.3.7.1
psycopg2-binary>=2.7.1
Flask-Login==0.4.0
onetimepass==1.0.1
PyQRCode==1.2.1
WeasyPrint>=0.0.0
Flask-Uploads==0.2.1
