{% extends 'base.html' %}

{% block body %}
<div class="wrapper">
  <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='_sidebar.css')}}">
  <!--{{ navdata }}-->
  {% include "nav.html" %}

    <!-- Page Content  -->
    <div id="content">
        <div class="row float-left">
            <hr>
            <form action="/submit_contacts">
            	<legend>Contacts</legend>
                <div class="row">
                    <div class="search-container">
                        <div id="emp_name">
                            {{ form.emp_name }}
                        </div>
                        <div id="emp_organisation"
                            class = "col-xs-12">
                            {{ form.emp_organisation }}
                        </div>
                        <div  id="emp_designation">
                            {{ form.emp_designation }}
                        </div>
                        <div id="emp_location">
                            {{ form.emp_location }}
                        </div>
                        <div  id="emp_linkedin">
                                {{ form.emp_linkedin }}
                        </div>
                        <div id = "emp_decisionpower">
                            {{ form.emp_decisionpower }}
                        </div>
                        <div class="search-button">
                            <button
                            id="upload_contact"
                            type="submit"
                            class="btn action">
                            <i class="fas fa-search">
                            </i>
                            Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

            <div class="search-table-container">
                <table id="contacts">
                    <tr>
                        <th>Company Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Job Title</th>
                        <th>Email Address</th>
                        <th>LinkedIn Profile</th>
                        <th>Direct Phone</th>
                        <th>Phone Number</th>
                        <th>Compaby Website</th>
                        <th>Company Description</th>
                    </tr>
                </table>
            </div>

<script src="{{url_for('static', filename='organisation.js')}}"></script>

{% endblock %}

