{% extends 'base.html' %}

{% block body %}
<div class="wrapper">
  <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='_sidebar.css')}}">
  <!--{{ navdata }}-->
  {% include "nav.html" %}

    <!-- Page Content  -->
    <div id="content">
        <div class="row float-left">
            <hr>
            <form action="/contacts" method='post'>
            	<legend>Contacts</legend>
                <div class="row">
                    <div class="search-container">
                        <div id="emp_name">
                            {{ form.emp_name }}
                        </div>
                        <div id="emp_job_title"
                            class = "col-xs-12">
                            {{ form.emp_job_title }}
                        </div>
                        <div  id="emp_company_name">
                            {{ form.emp_company_name }}
                        </div>
                        <div id="emp_job_function">
                            {{ form.emp_job_function }}
                        </div>
                        <div  id="emp_mgmt_level">
                                {{ form.emp_mgmt_level }}
                        </div>
                        <div id = "emp_industry">
                            {{ form.emp_industry }}
                        </div>
                        <div id = "emp_geography">
                            {{ form.emp_geography }}
                        </div>
                        <div id = submit_emp>
                            {{ form.submit_emp_search }}
                        </div>
                        <div id = submit_emp_import>
                            {{ form.submit_emp_download }}
                        </div>
                        <!--div class="search-button">
                            <button
                            id="upload_contact"
                            type="submit"
                            class="btn action">
                            <i class="fas fa-search">
                            </i>
                            Search
                            </button>
                        </div-->
                    </div>
                </div>
            </form>
            <!--form action="/contacts" method='patch'>
                <div id = submit_emp_import>
                            {{ form.submit_emp_download }}
                        </div>
            </form-->
        </div>

            <div class="search-table-container">
                {% include "test.html" %}
            </div>

<script src="{{url_for('static', filename='organisation.js')}}"></script>

{% endblock %}

