 <nav id="sidebar">

            <ul class="list-unstyled components">
                <li >
                    <a  href="{{url_for('dash')}}"  aria-expanded="false" >
                        <abbr title="Home">
                            <i class="fas fa-home"></i>
                        </abbr>
                    </a>

                </li>
                <li>
                    <a href="{{url_for('organisation')}}">
                        <abbr title="Organisation">
                            <i class="fas fa-briefcase"></i>
                        </abbr>
                    </a>
                </li>
                <li>
                    <a href="contacts"  aria-expanded="false" >
                        <i class="fas fa-id-card"></i>
                    </a>

                </li>
                <li>
                    <a href="analytics">
                        <i class="far fa-chart-bar"></i>
                    </a>
                </li>
                 <li>
                <a href="logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>

            </ul>


</nav>