 <nav id="sidebar">

            <ul class="list-unstyled components">
                <li >
                    <a href="login"  aria-expanded="false" >
                        <abbr title="Home">
                            <i class="fas fa-home"></i>
                        </abbr>
                    </a>

                </li>
                <li>
                    <a href="organisation">
                        <abbr title="Organisation">
                            <i class="fas fa-briefcase"></i>
                        </abbr>
                    </a>
                </li>
                <li>
                    <a href="contacts"  aria-expanded="false" >
                        <i class="fas fa-id-card"></i>
                        <span class="tooltiptext">Contacts</span>
                        <span class="tooltip-text">Leaves</span>

                    </a>

                </li>
                <li>
                    <a href="analytics">
                        <i class="far fa-chart-bar"></i>
                        <span class="tooltiptext">Analytics</span>
                    </a>
                </li>

            </ul>


</nav>