{% extends 'base.html' %} {% block body %}
<div class="wrapper">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='_sidebar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/organization.css')}}">
    <!--{{ navdata }}-->
    {% include "nav.html" %}

    <!-- Page Content  -->
    <div id="content">
        <div>
            <div class="float-right">
            Welcome , user name
            <a href='/logout' class="button">Logout</a>
            </div>
            <form><!-- action="/submit_organisation" method="POST"-->
                <legend>Organisations</legend>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col">
                            <div class=row>
                                <div class="col">
                                    {{ form.org.label }}
                                </div>
                                <div class="col">
                                    {{ form.org }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col">
                            <div class=row>
                                <div class="col">
                                    {{ form.employee.label }}
                                </div>
                                <div class="col">
                                    {{ form.employee }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ form.revenue.label }}
                                </div>
                                <div class="col">
                                    {{ form.revenue }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ form.region.label }}
                                </div>
                                <div class="col">
                                    {{ form.region }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="col">
                            <div class=row>
                                <div class="col">
                                    {{ form.exist_customer.label }}
                                </div>
                                <div class="col">
                                    {{ form.exist_customer }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ form.industry.label }}
                                </div>
                                <div class="col">
                                    {{ form.industry }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="float-right col-md-5">
                    <button id="upload_org" type="submit" class="btn action">
                        <i class="fa fa-upload"></i> Upload</button>
                    <button id="download_org" type="submit" class="btn action">
                        <i class="fa fa-download "></i> Download</button>
                    <button id="search_org" type="submit" class="btn pull-right action">
                        <i class="fa f54a"></i> Search</button>
                </div>

                <br>
                <br>
                <br>
                <div>
                    <table id="customers">
                        <tr>
                            <th>Name</th>
                            <th>Revenue</th>
                            <th>Employee count</th>
                            <th>Region</th>
                            <th>Industry</th>
                        </tr>
                        <tr>
                            <td>RapidValue</td>
                            <td>100M</td>
                            <td>500</td>
                            <td>Kochi</td>
                            <td>Information Technology<button id="edit_org" type="submit" class="btn action">
                         <i class="fas fa-pencil-alt"></i></button>
                                <button id="del_org" type="submit" class="btn action">
                        <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>RapidValue</td>
                            <td>10M</td>
                            <td>200</td>
                            <td>US</td>
                            <td>Information Technology</td>
                        </tr>
                        <tr>
                            <td>RapidValue3</td>
                            <td>100M</td>
                            <td>250</td>
                            <td>Germany</td>
                            <td>Information Technology</td>
                        </tr>
                    </table>
                </div>

            </form>
        </div>

    </div>
</div>

<!--script src="{{ url_for('static', filename='js/resources/file.js') }}"></script-->


{% endblock %}