<table border="1" class="dataframe df">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>Email Address</th>
      <th>LinkedIn Profile</th>
      <th>Direct Phone</th>
      <th>Phone Number</th>
      <th>Company Website</th>
      <th>Company Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Pacific Ethanol</td>
      <td>Chad</td>
      <td>Parker</td>
      <td>Director of Information Technology</td>
      <td>cparker@pacificethanol.net</td>
      <td>https://www.linkedin.com/in/chad-parker-446a0269/</td>
      <td>(916) 403-2123 // (309) 347-9255</td>
      <td>(916) 403-2123 // (309) 347-9255</td>
      <td>www.pacificethanol.net/</td>
      <td>Pacific Ethanol is the leading producer and ma...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>PDC Energy</td>
      <td>Mahesh</td>
      <td>Gopalakrishnan</td>
      <td>Director of Information Technology</td>
      <td>mgopalakrishnan@petd.com</td>
      <td>https://www.linkedin.com/in/mahesh-gopalakrish...</td>
      <td>(303) 860-5800 / (303) 831-3963</td>
      <td>(303) 860-5800 / (303) 831-3963</td>
      <td>www.pacificethanol.net/</td>
      <td>Pacific Ethanol is the leading producer and ma...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>PDC Energy</td>
      <td>James</td>
      <td>Gaulke</td>
      <td>VP Information Technology</td>
      <td>jgaulke@petd.com</td>
      <td>https://www.linkedin.com/in/jamesfgaulke/</td>
      <td>(303) 860-5800 / (303) 831-3956</td>
      <td>(303) 860-5800 / (303) 831-3956</td>
      <td>www.pacificethanol.net/</td>
      <td>Pacific Ethanol is the leading producer and ma...</td>
    </tr>
  </tbody>
</table>